service unified-script /system/bin/unified-script.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on init
    # unlink /efs > /mnt/vendor/efs
    rm /efs
    mkdir /efs
    mkdir /sec_efs

on boot
   setprop ro.unified.script "true"

on property:ro.unified.script=true
   start unified-script
