import /init.recovery.samsung.rc

on init
    write /proc/sys/kernel/hung_task_timeout_secs 0

on late-init
    setprop ro.debuggable 1
    setprop service.adb.root 1
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

on fs
    export ANDROID_ROOT /system_root

    wait /dev/block/platform/13520000.ufs
    symlink /dev/block/platform/13520000.ufs /dev/block/bootdevice
    symlink /dev/block/platform/13520000.ufs/by-name /dev/block/by-name
    symlink /dev/block/platorm/13520000.ufs/by-name/param /dev/block/param

on boot
    setprop sys.usb.config adb
